<div class="flex flex-col lg:flex-row justify-between items-start  p-4 lg:items-center gap-3 lg:gap-4 mb-4 lg:mb-6">
  <div class="flex items-center space-x-3 lg:space-x-5 w-full lg:w-auto">
    <div class="w-full lg:w-auto">
      <div class="space-y-1">
        <div class="flex items-center space-x-3">
          <h1 class="text-2xl sm:text-2xl font-semibold text-primary truncate">
            {{title}}
          </h1>
        </div>
        <div class="flex items-center">
          <p class="text-sm text-gray-600 truncate">
            {{subtitle || ''}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>